<%= link_to avatar_for(@post.user, size: 50), @post.user %>
<span class="user"><%= link_to @post.user.name, @post.user %></span>
<span class="content">
  <%= image_tag @post.display_image if @post.image.attached? %>
  <%= @post.content %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(@post.created_at) %> ago.
  <% if current_user?(@post.user) %>
    <%= link_to "delete", @post, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %>
</span>

<h3>Comments (<%= @post.comments.count %>)</h3>
<% if logged_in? %>
  <section class="comment_form">
    <%= render 'shared/comment_form'%>
  </section>
<% end %>
<% if @post.comments.any? %>
  <ul class="posts">
    <%= render @items %>
  </ul>
  <%= will_paginate @items %>
<% end %>